<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>关于本系统</title>
	<meta charset="UTF-8">
	<title></title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1"/>
	<#include "../head.html">
	<style type="text/css">
		* {
		    font-family: "微软雅黑";font-size: 14px;color: #333;
		}
		.content{
			margin-left:5%;
			margin-top:10px;
		}
		.content-info{
			width:540px;height:auto;margin-top:20px;padding-top:10px;
		}
		.future-update{
			margin-top:30px;
		}
		p{
			margin:5px 0 5px 0;
		}
		hr{
			margin-top:30px; height:2px;border:none;border-top:1px solid #555555;
		}
	</style>
	

</head>
<body>
	<div class='content'>
		<div class='content-info'>
			<p>V2.4</p>
			<!-- <p>【本次更新】</p> -->
			<p></p>
			<p>1.新增了全景分布图功能，可通过该功能查看辖内各图书馆的分布和数据情况.</p>
			<p>2.部分菜单的表格表单进行了分辨率自适应优化.</p>
			<div class='future-update'>
				<p></p>
				<p></p>
			</div>
			<hr/>
		</div>
		
		<div class='content-info'>
			<p>V2.3</p>
			<!-- <p>【本次更新】</p> -->
			<p></p>
			<p>1.更新了后台菜单的配色.</p>
			<p>2.馆际流通菜单的顺序和权限进行了微调.</p>
			<p>3.取消了图书馆批量建馆的功能.</p>
			<div class='future-update'>
				<p></p>
				<p></p>
			</div>
			<hr/>
		</div>
	
		<div class='content-info'>
			<p>V2.2</p>
			<!-- <p>【本次更新】</p> -->
			<p></p>
			<p>1.用户权限系统进行了修改，任何用户不得同时拥有新增和审核的权限.</p>
			<p>2.资讯维护页面增加了序号.</p>
			<p>3.资讯和读友会的发布审核流程变为两次审核，在单位内部审核后，将提交云图书馆平台进行再次审核，通过后方予发布</p>
			<p>4.藏书统计页面所选择的文字框信息会做记忆处理，下次进入同样页面时，会保留之前的选项.</p>
			<div class='future-update'>
				<p></p>
				<p></p>
			</div>
			<hr/>
		</div>
		
		<!-- <div class='content-info'>
			<p>V2.1</p>
			<p></p>
			<p>1.修改了部分页面的浏览器适配.</p>
			<p>2.取消了云图书馆平台的图书馆新增权限.</p>
			<p>3.新增图书馆增加了审核流程.</p>
			<p>4.当前登录的账户信息内容进行了微调。</p>
			<p>5.在二级权限登录下，客户称谓修改为单位.</p>
			<div class='future-update'>
				<p></p>
				<p></p>
			</div>
			<hr/>
		</div> -->
		
	</div>
</body>
</html>
