<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1" />
<#include "../head.html">
<link rel="stylesheet" href="${res}/css/ebook_style.css" />
<style type="text/css">
.p_year{margin-left:137px;}
#ad_text{width:655px;background:#eeeeee;height:32px;}
        /*火狐兼容*/
        @-moz-document url-prefix(){
            .conditions span{width:48px !important;}
            #ad_text{width:654px !important;}
            .p_year{margin-left:129px !important;;}
        }     
</style>

</head>
<body>

	<div class="form pos">
		<div class="l item item2">
			<span class="t l">客户代码</span> <input type="text" class="text l w158"
				 readonly="readonly" style="background: #eeeeee; height: 32px" value="${customer.hallCode!''}" />
			<div class="clear"></div>
		</div>
		<div class="l item">
			<span class="t l t3"
				style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf">单位名称</span>
			<input type="text" class="text l" id="ad_text"
				style="width: 651px\9;" readonly="readonly" value="${customer.name!''}" />
			<div class="clear"></div>
		</div>
		<div class="l item lianxi">
			<span class="t l">联系人 </span> <input type="text" class="text l w195 "
				style="background: #eeeeee; height:32px" value="${(customer.contacts[0].contactPerson)!''}"
				readonly="readonly" /> <span class="img l img0"
				style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf"></span>
			<input type="text" class="text l w195" value="${(customer.contacts[0].tel)!''}"
				style="background: #eeeeee; height:32px" readonly="readonly" /> <span
				class="img l img1" style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf"></span>
			<input type="text" class="text l w195 firefox_input2"
				style="width: 197px; background: #eeeeee; width: 193px\9; height: 32px"
				readonly="readonly" value="${(customer.contacts[0].phone)!''}" /> <span class="img l img2"
				style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf"></span>
			<input type="text" class="text l" value="${(customer.contacts[0].chat)!''}"
				style="width:216px;background:#eeeeee;height:32px" readonly="readonly" />
			<div class="clear"></div>
		</div>
		<form action="${res}/cms/order/addedOrders/${id}" id="addedForm">
		<div class="l item item2" style="z-index:11;clear:left;">
				<span class="t l">条件</span>
				<div class="clear"></div>
			</div>
			<div class="l item item2 search_condition" style="z-index:999;">
				<select class="w158 l role1" width="158" name="searchRole">
					<option value="0">出版年</option>
					<option value="1">分类</option>
					<option value="2">ISBN</option>
					<option value="3">书名</option>
					<option value="4">著译者</option>
					<option value="5">出版社</option>
				</select> <input type="text" name="keywords" class="e_text" value="${(keywordMap['0'])!''}"
					style="margin-left:5px;" />
				<div class="clear"></div>
			</div>
			<div class="l item item2 p_year search_condition"
				style="margin-left:125px\9; z-index:998;
			<#if ((keywordMap['1'])??) >
			     display: block;">
			<#else>	
				display: none;">
			</#if>
				<select class="w158 l role2" width="158" name="searchRole">
					<option value="0">出版年</option>
					<option value="1">分类</option>
					<option value="2">ISBN</option>
					<option value="3">书名</option>
					<option value="4">著译者</option>
					<option value="5">出版社</option>
				</select> <input type="text" name="keywords" class="e_text" value="${(keywordMap['1'])!''}"
					width="158" style="margin-left: 5px;" />
				<div class="clear"></div>
			</div>

			<div class="l item item2 search_condition"
				style="z-index: 996; margin-left: 105px; 
			<#if ((keywordMap['2'])??) >
			     display: block;">
			<#else>	
				display: none;">
			</#if>
				<select class="w158 l role3" width="158" name="searchRole">
					<option value="0">出版年</option>
					<option value="1">分类</option>
					<option value="2">ISBN</option>
					<option value="3">书名</option>
					<option value="4">著译者</option>
					<option value="5">出版社</option>
				</select> <input type="text" name="keywords" class="e_text" value="${(keywordMap['2'])!''}"
					width="158" style="margin-left: 5px;" />
				<div class="clear"></div>
			</div>

			<div class="l item item2 p_year search_condition"
				style="margin-left:137px;margin-left:125px\9; z-index: 995;
			<#if ((keywordMap['3'])??) >
			 display: block;">
				<#else>	
				display: none;">
				</#if>
				<select class="w158 l role4" width="158" name="searchRole">
					<option value="0">出版年</option>
					<option value="1">分类</option>
					<option value="2">ISBN</option>
					<option value="3">书名</option>
					<option value="4">著译者</option>
					<option value="5">出版社</option>
				</select> <input type="text" name="keywords" class="e_text" value="${(keywordMap['3'])!''}"
					width="158" style="margin-left: 5px;" />
				<div class="clear"></div>
			</div>
<script type="text/javascript">
var i = 0;
//存储上次检索条件
<#if roleMap??>
i = ${roleMap?size} - 1;
<#list roleMap?keys as key>
$("#role"+${key}).val(${roleMap[key]});
</#list>
</#if>
setSelect('.role1');
setSelect('.role2');
setSelect('.role3');
setSelect('.role4');
setSelect('.role5');
setSelect('.role6');
</script>			
		<div class="l item item2" id="se_box" style="z-index:100;">
			<input type="button" class="se_btn" style="height:34px;height:33px\9;" value=" 搜索 " onclick="searchBooks()">
			<div class="sub_btn" style="height:33px\9;display:none"></div>
			<div class="add_btn" style="height:33px\9;"></div>
			<div class="clear"></div>
		</div>
		<div class="clear" id="clear"></div>
	</div>
	<div class="table-parent">
		<table cellspacing="0" class="table">
			<thead class="thead" id="thead4">
				<tr>
					<th class="th w30"><input type="checkbox" name="checkname"
						id="all"></th>
					<th class="th w88">类别</th>
					<th class="th w120">ISBN</th>
					<th class="th w230">书名</th>
					<th class="th w100">出版社</th>
					<th class="th w75">著者</th>
					<th class="th w54">年份</th>
					<th class="th w75">操作员</th>
					<th class="th tw" id="last" style="border-right-width: 0; padding-left: 10px; text-align: left;">上传日期</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="table-parent">
		<div class="table_out">
<script>
autodivheight();
function autodivheight(){ //函数：获取尺寸
    //获取浏览器窗口高度
    var winHeight=0;
    if (window.innerHeight)
        winHeight = window.innerHeight;
    else if ((document.body) && (document.body.clientHeight))
        winHeight = document.body.clientHeight;
    //对body进行检测，获取浏览器窗口高度
    if (document.documentElement && document.documentElement.clientHeight)
        winHeight = document.documentElement.clientHeight;
    var minheight = Math.floor((winHeight - 333)/37)*37;
    if (minheight <= 111) minheight = 111;
    $(".table_out").height(minheight);
}
window.onresize=autodivheight; //浏览器窗口发生变化时同时变化DIV高度
</script>
			<table cellspacing="0" class="table" id="tab1"
				style="border-top-width: 0;">
				<#if (ebooks)??> <#list ebooks as ebook>
				<tr>
					<td class="w30"><input type="checkbox" name="ebookDetail" class="checkbox1" value="${ebook.id!''}" />
					</td>
					<td class="w88" title="${ebook.categoryName!''}">${ebook.categoryName!''}</td>
					<td class="w120" style="text-align: center;">${ebook.isbn!''}</td>
					<td class="w230" title="${ebook.bookName!''}">${ebook.bookName!''}</td>
					<td class="w100" title="${ebook.publisher?replace('出版社','' )!''}">${ebook.publisher?replace('出版社','' )!''}</td>
					<td class="w75" title="${ebook.author!''}">${ebook.author!''}</td>
					<td class="w54"><#if (ebook.publishDate!'')?length gt 3>
						${ebook.publishDate?substring(0,4)}</#if></td>
					<td class="w75">${(ebook.user.userName)!''}</td>
					<td class="tw" style="padding-left: 10px; text-align: left;">${(ebook.createDate?string("yyyyMMdd"))!''}</td>
				</tr>
				</#list></#if>
			</table>
		</div>
		<table class="table"
			style="margin-top: 20px; border: #a9a9a9 1px solid; padding-left: 15px;">
			<tr>
				<td style="border-bottom-width: 0; border-right-width: 0;"><span
					class="paging_left">合计总数<#if (ebooks)??> ${ebooks?size}<#else>0</#if></span><span class="p_count">
						&nbsp;(已去重 )</span></td>
			</tr>
		</table>
	</div>
	<div class="l item item2"
		style="margin-top:10px; width:100%;">
		<input type="button" class="e_btn"  onclick="addedOrders()" value="加入订单">
		<div class="rel_info">
			<span class="hint_info"><#if (status??) && status == 1>加入成功，订单号${orders.orderNumber!''} ! <#elseif (status??) && status == -2><span  style="color:red;">当前客户存在未处理订单!</span></#if></span>
		</div>
		<div class="odform" style="float: right;">
			<a href="${res}/cms/order/analysis/0.do" id="danchor">订单分析</a> <a
				href="#" id="banchor">返回订单</a>
			<div class="clear"></div>
		</div>
		</form>		
	</div>
</body>
<script>
	//add_btn点击出现搜索框
var btn = $(".add_btn");
var sbtn = $(".sub_btn");
if(i > 0) {
	sbtn.css({display:"block"});
} else {
	sbtn.css({display:"none"});
}
if(i >= 3) {
	btn.css({display : "none"});
}
//点击添加搜素框
btn.bind("click", function() {
	if(i >= 2) {
		btn.css({
			display : "none"
		});
	}
	if(i > 3) {
		sbtn.css({
			display : "none"
		});
		return;
	}
	i++;
	sbtn.css({
		display : "block"
	});
	$(".search_condition").eq(i).css({
		display : "block"
	});
});
$("#thead3 td").css({
	background : "#fff"
});

//点击删除搜素框
sbtn.bind("click", function() {
	//清除输入值
	$("input[name='keywords']").eq(i).attr("value","");
	if(i <= 1 ) {
		sbtn.css({
			display : "none"
		});
	}
	if(i <= 0 ) {
		return;
	}
	i--;
	$(".search_condition").eq(i+1).css({
		display : "none"
	});

	btn.css({
		display : "block"
	});
});
$("#thead3 td").css({
	background : "#fff"
});
	//点击复选框
	$('.table .checkbox1')
			.click(
					function() {
						if ($(this).is(':checked')) {
							$(this).next().css('visibility', "visible");
							if ($('.table .checkbox1').length == $('.table .checkbox1:checked').length) {
								$('#all')[0].checked = true;
							}
							$('.hint_info')
									.html(
											"选中图书"
													+ $('.table .checkbox1:checked').length
													+ "种，确认加入新订单？");
						} else {
							$(this).next().css('visibility', "hidden");
							$('#all')[0].checked = false;
							$('.hint_info')
									.html(
											"选中图书"
													+ $('.table .checkbox1:checked').length
													+ "种，确认加入新订单？");
							if ($('.table .checkbox1:checked').length == 0) {
								$('.hint_info').html("");
							}							
						}
					});
	//范围内全选	/取消全选
	$('#all').click(function() {
		var classStr = '.table .checkbox1';
		var num = 0;
		if ($(this).is(':checked')) {
			$(classStr).each(function() {
				num++;
				$(this)[0].checked = true;
				$('.hint_info').html("选中图书" + num + "种，确认加入新订单？");
			});
		} else {
			$(classStr).each(function() {
				$(this)[0].checked = false;
			});
			$('.hint_info').html("");
		}
	});
	//去除input——点击之后出现了蓝色的边框。
	$("input").focus(function() {
		$(this).css({
			outline : 0
		});
	});
	function addedOrders() {
	    var ids = $.makeArray($("input[name='ebookDetail']:checked"));
	    var url = $('#addedForm').attr("action");
	    if(ids.length <1) return;
	    for(var i in ids) {
	    	//遍历数组
	        var hiddenField = document.createElement("input");
	        hiddenField.setAttribute("type", "hidden");
	        hiddenField.setAttribute("name", "ebookIds");
	        hiddenField.setAttribute("value", ids[i].value);
	        document.getElementById("addedForm").appendChild(hiddenField);
	        }
	    $("#addedForm").attr("action", url);
	    $("#addedForm").attr("method", "post");
	    $('#addedForm').submit();
	    }
	function searchBooks() {
		var keywords = $.makeArray($(".keywords"));
		var flagIsNull = false;
		$("input[name='keywords']").each(function(index, item) {
			if(null != $(this).val() && "" != $(this).val()) {
				flagIsNull = true;
		    }});
		if(!flagIsNull) {
			$("input[name='keywords']:visible").attr("placeholder","条件不能为空");
			return;
		}
		$("#addedForm").attr("action", "${res}/cms/order/addedSearch/${id}.do");
		$('#addedForm').submit();
	}
	window.onkeydown=function(event){if (event.keyCode == 13){ searchBooks(); } }
</script>
</html>