<link rel="stylesheet" href="${res}/css/style.css" />
<link rel="stylesheet" type="text/css" href="${res}/css/cms/msgbox.css"/>
<link href="${res}/css/showBo.css" rel="stylesheet"/>
<script type="text/javascript" src="${res}/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.inputDefault.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.validate.msg_cn.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.validate.line_feed.js"></script>
<script type="text/javascript" src="${res}/js/cms/jquery.util.js"></script>
<script type="text/javascript" src="${res}/js/msgbox.js"></script>
<!-- <script type="text/javascript" src="${res}/js/cms/verification.js"></script> -->
<script type="text/javascript" src="${res}/js/cms/common.js"></script>
<script type="text/javascript" src="${res}/js/showBo.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery.date.pack.js"></script>
<script src="${res}/js/common.js"></script>
<script src="${res}/js/jquery.cookie.js" type="text/javascript" ></script>
<script src="${res}/js/autoHeight.js" type="text/javascript" ></script>
<script src="${res}/js/ie/common.js" type="text/javascript" ></script>