/*980<width<1199*/
.twname{width:105px;}
.twaddress{width:220px;}
.twcode{width:110px;}
.libname{width:90px;}
.libaddress{width:90px;}
.twObject{width:125px;}
.t_bohui{width:100px;}
.t_laiyuan{width:120px;}
.t_space{width:90px;}
.t_wlast{width:40px}

.libraryNmaes{width:340px;max-width:340px !important;}/*客户维护 辖管列宽度定制*/
.companyName{width:235px;}/*图书馆列表，单位名称宽度定制*/
.informationSource{width:230px;}/*资讯审核，来源列宽度定制*/
.informationName{width:280px;}/*资讯审核，标题列宽度定制*/